.serviceContainer {
  margin: 0 30px; /* Adjust the margin to add gap between the divs */
  height: 400px; /* Increase the height of the div */
  transition: all 0.8s ease;
}
.serviceContainer button {
  background-color: purple;
  transition: all 0.4s ease;
}
.serviceContainer button:hover {
  background-color: blue;
  scale: 1.1;
  font-size: large  ;
}


/** Programming */
.programming h3 {
  color: purple;
  margin-bottom: 20px;
}
.programming:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("programming.jpg");
  background-size: cover;
  background-position: center;
}
.programming:hover h3 {
  color: #fff;
}

/** Web Development */
.web_development h3 {
  color: purple;
  margin-bottom: 20px;
}
.web_development:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("web_development.jpg");
  background-size: cover;
  background-position: center;
}

.web_development:hover h3 {
  color: #fff;
}

/** Database */
.database h3 {
  color: purple;
  margin-bottom: 20px;
}
.database:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("database.jpg");
  background-size: cover;
  background-position: center;
}

.database:hover h3 {
  color: #fff;
}

/** App Development */

.app_development h3{
  color: purple;
  margin-bottom: 20px;
}

.app_development:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("app_development.jpg");
  background-size: cover;
  background-position: center;
  
}

.app_development:hover h3 {
  color: #fff;
}

/** Software Development */
.software_development h3{
  color: purple;
  margin-bottom: 20px;
}

.software_development:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("software_development.jpg");
  background-size: cover;
  background-position: center;
}

.software_development:hover h3 {
  color: #fff;
}

/** Digital Marketing */
.digital_marketing h3{
  color: purple;
  margin-bottom: 20px;
}

.digital_marketing:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("digital_marketing.avif");
  background-size: cover;
  background-position: center;
}

.digital_marketing:hover h3 {
  color: #fff;
}

/** Advance Excel */
.excel h3{
  color: purple;
  margin-bottom: 20px;
}

.excel:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Excel.jpg");
  background-size: cover;
  background-position: center;
}

.excel:hover h3 {
  color: #fff;
}